<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<title>Insert title here</title>
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
	<div class="container">
		<div class="jumbotron" align="center" style="margin-top: 50px;">
			<h1>Seja bem-vindo ao ListaVIPs</h1>
			<div align="center">
				<a href="listaconvidados" class="btn btn-lg btn-primary">Clique aqui para ver a lista de convidados</a>
			</div>
		</div>
	</div>
	
	<script src="https://code.jquery.com/jquery-3.4.0.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>